@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro");
:root {
    --cor-principal: #583c3c;
  }
* {
    font-family: "Source Code Pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-weight: bolder;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background-color: var(--cor-principal);
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
    background: white;
    color: var(--cor-principal);
}

.parallax-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow: hidden;
}

.parallax-images {
    display: flex;
    padding: 0;
    margin: 0;
}

.parallax-image-left {
    position: relative;
}

.parallax-image-right {
    padding-top: 125px;
    padding-left: 105px;
    position: absolute;
}

img {
    max-width: 100%;
    height: auto;
}

.parallax-text {
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    padding: 1rem;
    margin-top: 250px;
    margin-bottom: 250px;
    margin-left: 230px;
    background-color: white;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
}

.noMargin {
    margin: 0;
}

.musicas {
    padding: 4%;
}

#topo {
    background-color: var(--cor-principal);
}

footer {
    background-color: var(--cor-principal);
    padding: 3.5rem;
}

#lua {
    z-index: 3;
}

#sol {
    z-index: 2;
}

.card {
    margin: 20px;
}

#livros{
    padding-top: 100px;
    padding-bottom: 100px;
}

.filminhos {
    margin-top: 50px;
    margin-bottom: 50px;
    position: absolute;
    z-index: 1;
}

#sinopse {
    margin-top: 200px;
    margin-left: 10px;
}

#sinopse-segundo-paragrafo {
    margin-left: 10px;
}


.telefone {
    padding: 3rem;
}

.sobre {
    margin-top: 20px;
}

.sinopse-telefonepreto:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.preto{ 
  background-image: linear-gradient(to bottom right,  var(--cor-principal), white);
}